.res-content-wrapper {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.73)), url("../assets/background.jpg");
    width: 100%;
    background-size: cover;
    min-width: none
}


.res-content-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 100px;
    width: 85%;
    margin: 0px auto;
    padding: 80px 0;

    .text{
        margin-top: 100px;
        color: white;
        width: 60%;

        h2{
            margin-bottom: 30px;

        }
        p{
            margin-bottom: 20px;

        }
    }

    .form{
        width: 40%;
        height: auto;
        background-color: white;
        color: #333;
        border-radius: 10px;
        padding: 30px 40px 50px;
        text-align: left;

        h1{
            font-size: 24pt;
            margin-bottom: 7px;
        }
        p{
            font-size: smaller;
            margin-bottom: 30px;
        }
    }
}



@media screen and (max-width: 1024px) {
    .res-content-container {
        flex-direction: column;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .text {
        width: 100%;
        margin-top: 50px;
    }

    .text p {
        margin-bottom: 0;
    }

    .form {
        width: 100%;
        margin-top: -50px
    }

    .guestsdate {
        display: flex;
        flex-direction: column;
    }
}