/* styles.css */
:root {
  --green: #495E57;
  --yellow: #F4CE14;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 980px; /* Set your desired max-width */
  margin: 0 auto; /* Center the container horizontally */

}

.header,
.main,
.footer {
  width: 100%;
}

.header {
  grid-row: 1; /* Place the header in the first row */
  display: grid;
  grid-template-columns: auto 1fr; /* Logo, Nav */
  align-items: center; /* Center items vertically within the header */

}

.logo {
  max-width: 100%; /* Ensure the logo does not exceed its container width */
}


.nav {
  color: #333;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Display items horizontally */
  justify-content: center; /* Center the items horizontally */
  align-items: center; /* Center the items vertically */
}

.nav a {
  text-decoration: none;
  color: #333;
  padding: 15px;
  display: block;
}

.nav a:hover {
  color: #555;
}

/* Style the navigation items */
.nav a {
  font-size: 16px;
  font-weight: bold;
}

/* Add some spacing between the navigation items */
.nav a + a {
  margin-left: 20px;
}

/* Remove background color */

.main {
  grid-row: 2; /* Place the main content in the second row */
}

.footer {
  grid-row: 3; /* Place the footer in the third row */
}

.FoodItems{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.reviews{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.hero {
  background-color: var(--green); /* Add your desired background color */
  width: 100vw; /* 100% of the viewport width */
  margin-left: calc(-50vw + 50%); /* Center the element */
  margin-right: calc(-50vw + 50%);
  padding-top: 20px;
  padding-bottom: 20px;
}

.hero-content {
  max-width: 980px; /* Set your desired max-width */
  margin: 0 auto; /* Center the content horizontally */
}

.hero-content h1, .hero-content h3{
  color: var(--yellow);
}

.heroImage{
  width: 200px;
  height: 200px;
}